button {
  width: 100%;
  padding: 10px;
  background: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #b0b1b2;
  color: #3884f7;
  &.active {
    background: #0d6efd;
    border: 1px solid #0d6efd;
    color: white;
    &:hover {
      background-color: #0d6efd;
      border: 1px solid #0d6efd;
    }
  }
  &:hover {
    background-color: #ecf2f9;
    border: 1px solid #0d6efd;
  }
  &:nth-child(1) {
    border-radius: 4px 0 0 4px;
  }
  &:nth-child(3) {
    border-radius: 0 4px 4px 0;
  }
}

.price {
  background: #fe862f;
  color: white;
  &:hover {
    background-color: #ecf2f9;
    color: #3884f7;
  }
}
